<html>
  <head>
    <title>Push-to-Talk Button</title>
    <script>
      var isRecording = false;
      var audioChunks = [];
      var mediaRecorder;

      function startRecording() {
        isRecording = true;

        navigator.mediaDevices.getUserMedia({ audio: true })
          .then(function (stream) {
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.start();

            mediaRecorder.addEventListener("dataavailable", function (event) {
              if (isRecording) {
                audioChunks.push(event.data);
              }
            });

            mediaRecorder.addEventListener("stop", function () {
              if (!isRecording) {
                var audioBlob = new Blob(audioChunks, { type: "audio/pcmu" });
                sendAudio(audioBlob);
              }
            });
          });
      }

      function stopRecording() {
        isRecording = false;
        mediaRecorder.stop();
      }

      function sendAudio(audioBlob) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/audio", true);
        xhr.setRequestHeader("Content-Type", "application/octet-stream");
        xhr.send(audioBlob);
      }
    </script>
  </head>
  <body>
    <button id="push-to-talk" onmousedown="startRecording()" onmouseup="stopRecording()">Push Me</button>
  </body>
</html>
